@import 'mixins'
@import 'var'
@import 'fonts'

@import 'header'
@import 'main'




*
    padding: 0
    margin: 0
    box-sizing: border-box
    scroll-behavior: smooth
.container
    margin: 0 auto
    width: 1170px
.section
    &-title
        display: flex
        justify-content: center
        font-size: 36px
        text-align: center
        +light
    &-subtitle
        display: flex
        justify-content: center
        font-size: 20px
        text-align: center
        +light

.button
    background-color: $main-blue
    padding: 22px
    color: #ffffff
    text-transform: uppercase
    font-size: 15px
    border: none
    +semi
    transition: .3s
    &:hover
        cursor: pointer
        background-color: lighten($main-blue, 5%)

@import 'projects'
@import 'type'
@import 'works'
@import 'clients'
@import 'map'
@import 'footer'
@import 'modal'
@import 'media'