@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Light.ttf");
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.ttf");
}

.header {
  background: url("../img/main/bg.jpg") no-repeat;
  background-size: cover;
}

.header-menu {
  background: rgba(250, 250, 250, 0.9);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  position: relative;
}

.header_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.header_contact {
  text-align: right;
}

.header-tel {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Proxima Nova', sans-serif;
  margin-bottom: 7px;
}

.header-link {
  color: #000000;
  font-size: 14px;
  margin-right: 35px;
  font-family: 'Proxima Nova', sans-serif;
}

.header-link:hover {
  text-decoration: none;
}

.header-request {
  color: #22bac1;
  font-family: 'Proxima Nova', sans-serif;
}

#burger {
  display: none;
}

label {
  display: none;
  font-size: 18px;
  font-family: 'Proxima Nova', sans-serif;
}

.burger-line {
  position: absolute;
  top: 22px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .5s all;
  transition: .5s all;
  display: none;
}

.second {
  top: 30px;
}

.third {
  top: 30px;
}

.fourth {
  top: 38px;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 125px;
  padding-bottom: 100px;
}

.main-text_title {
  color: #fffafa;
  font-size: 48px;
  line-height: 60px;
  max-width: 510px;
  font-family: 'Proxima Nova', sans-serif;
}

.main-text_subtitle {
  margin-top: 35px;
  font-size: 20px;
  color: #fffafa;
  font-family: 'Proxima Nova', sans-serif;
}

.main-text_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

.main-text_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
  position: relative;
}

.main-text_list-item:last-child {
  margin-bottom: 0;
}

.main-text_list-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-family: 'Proxima Nova', sans-serif;
}

.main-text_list-item__img:before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  left: -3px;
  top: -4px;
  opacity: 0.2;
}

.main-text_list-item__img-1 {
  background-image: url("../img/main/reload.png");
}

.main-text_list-item__img-2 {
  background-image: url("../img/main/map.png");
}

.main-text_list-item__text {
  margin-left: 35px;
  color: #fff;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 15px;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  width: 375px;
  margin-top: 10px;
}

.main-form_title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 18px;
  width: 234px;
  font-family: 'Proxima Nova', sans-serif;
}

.form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-main {
  text-align: center;
  margin: 0 auto;
  width: 260px;
  padding: 16px;
  margin-bottom: 15px;
  border: 1px solid #e8e8e8;
  color: #7c7c7c;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 13px;
}

.input-main:focus {
  outline: none;
}

.input-main:last-child {
  margin-bottom: 0;
  margin-top: 5px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
  text-align: center;
  font-family: 'Proxima Nova', sans-serif;
}

.section-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  text-align: center;
  font-family: 'Proxima Nova', sans-serif;
}

.button {
  background-color: #22bac1;
  padding: 22px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  cursor: pointer;
  background-color: #26cfd7;
}

.projects {
  background: #e8e8e8;
  padding: 97px 0;
}

.projects-line {
  margin: 0 auto;
  margin-top: 28px;
  height: 2px;
  width: 31px;
  background-color: #23bac1;
}

.projects-subtitle {
  margin-top: 35px;
  margin-bottom: 70px;
}

.slider {
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider-wrap {
  padding-left: 40px;
  max-width: 450px;
  max-height: 340px;
}

.slider-button {
  font-size: 13px;
  padding: 22px 52px;
}

.slider__item:focus {
  outline: none;
}

.slider__item-title {
  font-size: 24px;
  font-family: 'Proxima Nova', sans-serif;
}

.slider__item-subtitle {
  margin-top: 45px;
  font-size: 12px;
  font-family: 'Proxima Nova', sans-serif;
}

.slider__item-descr {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Proxima Nova', sans-serif;
}

.slider__item-wrap {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item-block_text {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
}

.slider__item-block_digit {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.slider__item-button {
  margin-top: 60px;
}

.type {
  padding-top: 100px;
}

.type-line_title {
  height: 2px;
  width: 31px;
  background: #22bac1;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 43px;
}

.type-subtitle {
  margin-bottom: 79px;
}

.type-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.type-item {
  margin: 0 auto;
  padding: 33px 35px 40px 35px;
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.type-item:hover {
  -webkit-box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
}

.type-item_title {
  font-size: 20px;
  font-family: 'Proxima Nova', sans-serif;
}

.type-item_img {
  margin-top: 24px;
}

.type-item_text {
  margin: 0 auto;
  margin-top: 35px;
  font-size: 16px;
  font-family: 'Proxima Nova', sans-serif;
  min-height: 280px;
  max-width: 234px;
}

.type-item_line {
  height: 2px;
  width: 9px;
  background: #22bac1;
  margin: 10px auto;
}

.type-item_button {
  margin-top: 31px;
}

.button-o {
  background-color: #ffffff;
  border: 1px solid rgba(174, 174, 174, 0.2);
  color: #000000;
}

.button-o:hover {
  background: #22bac1;
  border: 1px solid #22bac1;
  color: #ffffff;
}

.works {
  background: url("../img/works/bg.jpg");
  padding-top: 108px;
  padding-bottom: 126px;
}

.works-title {
  color: #ffffff;
  font-size: 24px;
  max-width: 675px;
  margin: 0 auto;
}

.works-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-block {
  margin-top: 90px;
  text-align: center;
  min-width: 243px;
}

.works-img {
  min-height: 55px;
}

.works-text {
  margin-top: 35px;
  color: #ffffff;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 15px;
}

.clients {
  padding-top: 100px;
  padding-bottom: 130px;
}

.clients-title {
  font-size: 24px;
  margin-bottom: 50px;
}

.carousel {
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
}

.client-item {
  height: 170px;
  position: relative;
}

.client-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.client-item:focus {
  outline: none;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.arrow_right {
  background: url("../img/right.png") no-repeat center;
  right: -70px;
  top: 42%;
}

.arrow_left {
  background: url("../img/left.png") no-repeat center;
  left: -70px;
  top: 42%;
}

.map {
  width: 100%;
  height: 416px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 58px;
  background-color: #191919;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-phone {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 17px;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}

.footer-request {
  font-family: 'Proxima Nova', sans-serif;
  color: #22bac1;
  font-size: 13px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-img {
  margin-right: 19px;
}

.address-text {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.recall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

@media (max-width: 1199px) {
  .container {
    width: 950px;
  }
  .header-link {
    margin-right: 10px;
  }
  .slider {
    max-width: 850px;
  }
  .slider__item-subtitle {
    margin-top: 35px;
  }
  .slider__item-wrap {
    margin-top: 45px;
  }
  .carousel {
    max-width: 800px;
  }
  .arrow_right {
    right: -40px;
  }
  .arrow_left {
    left: -40px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 700px;
  }
  .header-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 18px;
  }
  .header-menu {
    background: none;
  }
  .header_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    margin-top: 30px;
    max-height: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .header-link {
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
  }
  .header-tel {
    color: #ffffff;
  }
  label {
    display: block;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    top: 21px;
    left: 0;
    width: 100px;
    text-align: right;
  }
  .burger-line {
    display: block;
  }
  #burger:checked ~ .header_link {
    max-height: 200px;
  }
  #burger:checked ~ .first {
    display: none;
  }
  #burger:checked ~ .fourth {
    display: none;
  }
  #burger:checked ~ .second {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #burger:checked ~ .third {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .main-wrap {
    padding-top: 80px;
  }
  .main-text_title {
    font-size: 30px;
    line-height: 40px;
    max-width: 450px;
  }
  .slider {
    max-width: 650px;
  }
  .slider-button {
    padding: 15px 30px;
  }
  .slider__item img {
    height: 260px;
  }
  .slider__item-title {
    font-size: 18px;
  }
  .slider__item-subtitle {
    margin-top: 30px;
  }
  .slider__item-descr {
    font-size: 13px;
  }
  .slider__item-wrap {
    margin-top: 28px;
  }
  .slider__item-block_digit {
    font-size: 13px;
    margin-top: 5px;
  }
  .slider__item-button {
    margin-top: 40px;
  }
  .carousel {
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 95%;
  }
  .main-text_title {
    font-size: 20px;
    line-height: 20px;
    max-width: 300px;
  }
  .main-text_subtitle {
    margin-top: 30px;
    font-size: 16px;
  }
  .main-text_list {
    margin-top: 40px;
  }
  .main-text_list-item {
    margin-bottom: 20px;
  }
  .main-text_list-item__text {
    margin-left: 20px;
    font-size: 13px;
  }
  .main-form {
    height: 320px;
    width: 270px;
  }
  .main-form_title {
    font-size: 14px;
    max-width: 200px;
    margin-bottom: 20px;
  }
  .input-main {
    width: 75%;
    padding: 15px;
    margin-bottom: 10px;
  }
  .slider {
    max-width: 500px;
  }
  .carousel {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .header-link {
    font-size: 15px;
  }
  .main-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
  .main-text {
    text-align: center;
  }
  .main-text_title {
    font-size: 20px;
    line-height: 20px;
    max-width: 100%;
  }
  .main-text_list {
    display: none;
  }
  .main-form {
    margin: 15px auto;
    height: 300px;
    width: 240px;
  }
  .main-form_title {
    font-size: 14px;
    max-width: 200px;
    margin-bottom: 20px;
  }
  .input-main {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .works {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .works-title {
    font-size: 18px;
  }
  .slider {
    max-width: 280px;
  }
  .slider-button {
    padding: 10px 25px;
  }
  .slider-wrap {
    padding-left: 0;
    max-width: 250px;
  }
  .slider__item {
    margin: 0 auto;
  }
  .slider__item img {
    height: 200px;
  }
  .slider__item-subtitle {
    margin-top: 15px;
  }
  .slider__item-descr {
    margin-top: 5px;
  }
  .slider__item-wrap {
    margin-top: 15px;
  }
  .slider__item-block_digit {
    font-size: 13px;
    margin-top: 5px;
  }
  .slider__item-button {
    margin-top: 20px;
  }
  .carousel {
    max-width: 250px;
  }
  .arrow_right {
    right: -30px;
  }
  .arrow_left {
    left: -30px;
  }
  .clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .address {
    margin-bottom: 15px;
  }
  .recall {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */